html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container-fluid {
  width: auto!important;
}

.container {
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left: -$gutter-width / 2;
  margin-right: -$gutter-width / 2;
  clear: both;
}

.col {
  position: relative;
  float: left;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
  margin-bottom: $gutter-width;
}

.col-sm-1  { @extend .col; }
.col-sm-2  { @extend .col; }
.col-sm-3  { @extend .col; }
.col-sm-4  { @extend .col; }
.col-sm-5  { @extend .col; }
.col-sm-6  { @extend .col; }
.col-sm-7  { @extend .col; }
.col-sm-8  { @extend .col; }
.col-sm-9  { @extend .col; }
.col-sm-10 { @extend .col; }
.col-sm-11 { @extend .col; }
.col-sm-12 { @extend .col; }

.col-md-1  { @extend .col; }
.col-md-2  { @extend .col; }
.col-md-3  { @extend .col; }
.col-md-4  { @extend .col; }
.col-md-5  { @extend .col; }
.col-md-6  { @extend .col; }
.col-md-7  { @extend .col; }
.col-md-8  { @extend .col; }
.col-md-9  { @extend .col; }
.col-md-10 { @extend .col; }
.col-md-11 { @extend .col; }
.col-md-12 { @extend .col; }

.col-lg-1  { @extend .col; }
.col-lg-2  { @extend .col; }
.col-lg-3  { @extend .col; }
.col-lg-4  { @extend .col; }
.col-lg-5  { @extend .col; }
.col-lg-6  { @extend .col; }
.col-lg-7  { @extend .col; }
.col-lg-8  { @extend .col; }
.col-lg-9  { @extend .col; }
.col-lg-10 { @extend .col; }
.col-lg-11 { @extend .col; }
.col-lg-12 { @extend .col; }

@import "columns-xs";
@import "columns-sm";
@import "columns-md";
@import "columns-lg";