@media (max-width: $screen-sm-min) {

  .col-xs {
    position: relative;
    float: left;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
    margin-bottom: $gutter-width;
  }

  .col-xs-1 {
    @extend .col-xs;
    width: $col-1-width;
  }

  .col-xs-2 {
    @extend .col-xs;
    width: $col-2-width;
  }

  .col-xs-3 {
    @extend .col-xs;
    width: $col-3-width;
  }

  .col-xs-4 {
    @extend .col-xs;
    width: $col-4-width;
  }
  
  .col-xs-5 {
    @extend .col-xs;
    width: $col-5-width;
  }

  .col-xs-6 {
    @extend .col-xs;
    width: $col-6-width;
  }

  .col-xs-7 {
    @extend .col-xs;
    width: $col-7-width;
  }

  .col-xs-8 {
    @extend .col-xs;
    width: $col-8-width;
  }

  .col-xs-9 {
    @extend .col-xs;
    width: $col-9-width;
  }

  .col-xs-10 {
    @extend .col-xs;
    width: $col-10-width;
  }

  .col-xs-11 {
    @extend .col-xs;
    width: $col-11-width;
  }

  .col-xs-12 {
    @extend .col-xs;
    width: $col-12-width;
  }


  .col-xs-offset-1 {
    margin-left: $col-1-width;
  }

  .col-xs-offset-2 {
     margin-left: $col-2-width;
  }

  .col-xs-offset-3 {
     margin-left: $col-3-width;
  }

  .col-xs-offset-4 {
     margin-left: $col-4-width;
  }

  .col-xs-offset-5 {
     margin-left: $col-5-width;
  }

  .col-xs-offset-6 {
     margin-left: $col-6-width;
  }

  .col-xs-offset-7 {
     margin-left: $col-7-width;
  }

  .col-xs-offset-8 {
     margin-left: $col-8-width;
  }

  .col-xs-offset-9 {
     margin-left: $col-9-width;
  }

  .col-xs-offset-10 {
     margin-left: $col-10-width;
  }

  .col-xs-offset-11 {
     margin-left: $col-11-width;
  }

  .col-xs-offset-12 {
     margin-left: $col-12-width;
  }


  .hidden-lg {
    display: block;
  }

  .visible-lg {
    display: none;
  }

  .hidden-md {
    display: block;
  }

  .visible-md {
    display: none;
  }

  .hidden-sm {
    display: block;
  }

  .visible-sm {
    display: none;
  }

  .hidden-xs {
    display: none;
  }

  .visible-xs {
    display: block;
  }
}


