@media (min-width: $screen-lg-min) {

  .container {
    width: $container-lg-width;
  }

  .col-lg {
    position: relative;
    float: left;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
    margin-bottom: $gutter-width;
  }

  .col-lg-1 {
    @extend .col-lg;
    width: $col-1-width;
  }

  .col-lg-2 {
    @extend .col-lg;
    width: $col-2-width;
  }

  .col-lg-3 {
    @extend .col-lg;
    width: $col-3-width;
  }

  .col-lg-4 {
    @extend .col-lg;
    width: $col-4-width;
  }

  .col-lg-5 {
    @extend .col-lg;
    width: $col-5-width;
  }

  .col-lg-6 {
    @extend .col-lg;
    width: $col-6-width;
  }

  .col-lg-7 {
    @extend .col-lg;
    width: $col-7-width;
  }

  .col-lg-8 {
    @extend .col-lg;
    width: $col-8-width;
  }

  .col-lg-9 {
    @extend .col-lg;
    width: $col-9-width;
  }

  .col-lg-10 {
    @extend .col-lg;
    width: $col-10-width;
  }

  .col-lg-11 {
    @extend .col-lg;
    width: $col-11-width;
  }

  .col-lg-12 {
    @extend .col-lg;
    width: $col-12-width;
  }
  
  .col-lg-offset-1 {
    margin-left: $col-1-width;
  }

  .col-lg-offset-2 {
     margin-left: $col-2-width;
  }

  .col-lg-offset-3 {
     margin-left: $col-3-width;
  }

  .col-lg-offset-4 {
     margin-left: $col-4-width;
  }

  .col-lg-offset-5 {
     margin-left: $col-5-width;
  }

  .col-lg-offset-6 {
     margin-left: $col-6-width;
  }

  .col-lg-offset-7 {
     margin-left: $col-7-width;
  }

  .col-lg-offset-8 {
     margin-left: $col-8-width;
  }

  .col-lg-offset-9 {
     margin-left: $col-9-width;
  }

  .col-lg-offset-10 {
     margin-left: $col-10-width;
  }

  .col-lg-offset-11 {
     margin-left: $col-11-width;
  }

  .col-lg-offset-12 {
     margin-left: $col-12-width;
  }

  .hidden-lg {
    display: none;
  }

  .visible-lg {
    display: block;
  }

  .hidden-md {
    display: block;
  }

  .visible-md {
    display: none;
  }

  .hidden-sm {
    display: block;
  }

  .visible-sm {
    display: none;
  }

  .hidden-xs {
    display: block;
  }

  .visible-xs {
    display: none;
  }

}