@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

  .container {
    width: $container-md-width;
  }

  .col-md {
    position: relative;
    float: left;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
    margin-bottom: $gutter-width;
  }

  .col-md-1 {
    @extend .col-md;
    width: $col-1-width;
  }

  .col-md-2 {
    @extend .col-md;
    width: $col-2-width;
  }

  .col-md-3 {
    @extend .col-md;
    width: $col-3-width;
  }

  .col-md-4 {
    @extend .col-md;
    width: $col-4-width;
  }

  .col-md-5 {
    @extend .col-md;
    width: $col-5-width;
  }

  .col-md-6 {
    @extend .col-md;
    width: $col-6-width;
  }

  .col-md-7 {
    @extend .col-md;
    width: $col-7-width;
  }

  .col-md-8 {
    @extend .col-md;
    width: $col-8-width;
  }

  .col-md-9 {
    @extend .col-md;
    width: $col-9-width;
  }

  .col-md-10 {
    @extend .col-md;
    width: $col-10-width;
  }

  .col-md-11 {
    @extend .col-md;
    width: $col-11-width;
  }

  .col-md-12 {
    @extend .col-md;
    width: $col-12-width;
  }


  .col-md-offset-1 {
    margin-left: $col-1-width;
  }

  .col-md-offset-2 {
     margin-left: $col-2-width;
  }

  .col-md-offset-3 {
     margin-left: $col-3-width;
  }

  .col-md-offset-4 {
     margin-left: $col-4-width;
  }

  .col-md-offset-5 {
     margin-left: $col-5-width;
  }

  .col-md-offset-6 {
     margin-left: $col-6-width;
  }

  .col-md-offset-7 {
     margin-left: $col-7-width;
  }

  .col-md-offset-8 {
     margin-left: $col-8-width;
  }

  .col-md-offset-9 {
     margin-left: $col-9-width;
  }

  .col-md-offset-10 {
     margin-left: $col-10-width;
  }

  .col-md-offset-11 {
     margin-left: $col-11-width;
  }

  .col-md-offset-12 {
     margin-left: $col-12-width;
  }


  .hidden-lg {
    display: block;
  }

  .visible-lg {
    display: none;
  }

  .hidden-md {
    display: none;
  }

  .visible-md {
    display: block;
  }

  .hidden-sm {
    display: block;
  }

  .visible-sm {
    display: none;
  }

  .hidden-xs {
    display: block;
  }

  .visible-xs {
    display: none;
  }

}