@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

  .col-sm {
    position: relative;
    float: left;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
    margin-bottom: $gutter-width;
  }

  .col-sm-1 {
    @extend .col-sm;
    width: $col-1-width;
  }

  .col-sm-2 {
    @extend .col-sm;
    width: $col-2-width;
  }

  .col-sm-3 {
    @extend .col-sm;
    width: $col-3-width;
  }

  .col-sm-4 {
    @extend .col-sm;
    width: $col-4-width;
  }
  
  .col-sm-5 {
    @extend .col-sm;
    width: $col-5-width;
  }

  .col-sm-6 {
    @extend .col-sm;
    width: $col-6-width;
  }

  .col-sm-7 {
    @extend .col-sm;
    width: $col-7-width;
  }

  .col-sm-8 {
    @extend .col-sm;
    width: $col-8-width;
  }

  .col-sm-9 {
    @extend .col-sm;
    width: $col-9-width;
  }

  .col-sm-10 {
    @extend .col-sm;
    width: $col-10-width;
  }

  .col-sm-11 {
    @extend .col-sm;
    width: $col-11-width;
  }

  .col-sm-12 {
    @extend .col-sm;
    width: $col-12-width;
  }


  .col-sm-offset-1 {
    margin-left: $col-1-width;
  }

  .col-sm-offset-2 {
     margin-left: $col-2-width;
  }

  .col-sm-offset-3 {
     margin-left: $col-3-width;
  }

  .col-sm-offset-4 {
     margin-left: $col-4-width;
  }

  .col-sm-offset-5 {
     margin-left: $col-5-width;
  }

  .col-sm-offset-6 {
     margin-left: $col-6-width;
  }

  .col-sm-offset-7 {
     margin-left: $col-7-width;
  }

  .col-sm-offset-8 {
     margin-left: $col-8-width;
  }

  .col-sm-offset-9 {
     margin-left: $col-9-width;
  }

  .col-sm-offset-10 {
     margin-left: $col-10-width;
  }

  .col-sm-offset-11 {
     margin-left: $col-11-width;
  }

  .col-sm-offset-12 {
     margin-left: $col-12-width;
  }


  .hidden-lg {
   display: block;
  }

  .visible-lg {
    display: none;
  }

  .hidden-md {
    display: block;
  }

  .visible-md {
    display: none;
  }

  .hidden-sm {
    display: none;
  }

  .visible-sm {
    display: block;
  }

  .hidden-xs {
    display: block;
  }

  .visible-xs {
    display: none;
  }

}