$gutter-width: 20px;

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$container-lg-width: 1200px;
$container-md-width: 992px;


$col-1-width:  1/12 * 100%;
$col-2-width:  2/12 * 100%;
$col-3-width:  3/12 * 100%;
$col-4-width:  4/12 * 100%;
$col-5-width:  5/12 * 100%;
$col-6-width:  6/12 * 100%;
$col-7-width:  7/12 * 100%;
$col-8-width:  8/12 * 100%;
$col-9-width:  9/12 * 100%;
$col-10-width: 10/12 * 100%;
$col-11-width: 11/12 * 100%;
$col-12-width: 12/12 * 100%;